.insights-container {
    background: rgb(237, 233, 234);
    margin-left: 20px;
    padding: 20px;
  }  
   
  .insights-col {
    text-align: center;
    height: 6.5em; 
    border-radius: 20px;
    background-color: rgb(184, 165, 201);
    padding: 15px; 
    margin-bottom: 10px; 
    margin-right: 10px;
    margin-left: 10px;    
    width: 20em ; 
  }
  
  .count {
    text-align: center; 
  }

  .chart-next { 
    width: 10 em;  
  }

  .chart { 
    height: 25em;  
    width: 45em;      
  }  