.tablestyle {
    display: grid;
    
}

.buttonstyle{
    display: flex;
    height: fit-content;
    background-color: rgb(201, 183, 186);
    margin-right: 20px;
    margin-bottom: 20px; 
}

.buttonstyle td {
    display: grid;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: pink;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em   
}
