.tablestyle {
    display: grid;
    
}

.buttonstyle{
    display: flex;
    height: fit-content;
    background-color: rgb(201, 183, 186);
    margin-right: 20px;
    margin-bottom: 20px; 
}

.buttonstyle td {
    display: grid;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: pink;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em   
} 

.print-btn {
    background-color: rgb(25, 5, 43);
    height: 50px;
    border-radius: 10px; 
    border-color: rgb(25, 5, 43);
}   

.print-btn:hover {
    background-color: rgb(184, 165, 201);  
}

button {
    text-align: center; 
    border-radius: 10px;  
    border-width: 3px;    
    
}

.nav-link {  
    font-weight: 500;  
    color: rgb(2, 2, 2); 
    
}  

.submit {    
    border-color: rgb(25, 5, 43);    
    width: 100px; 
} 

.delete { 
    background-color: rgb(184, 165, 201);     
    border-color: rgb(184, 165, 201); 
    width: 100px;   
}

.cartbtn {
    background-color: rgb(25, 5, 43);     
    border-color: rgb(184, 165, 201);  
    width: 120px; 
    font-weight: 500;   
    margin-bottom: 1px;   

} 

.cartbtn:hover{
    background-color: rgb(184, 165, 201); 
}
 
.circular-image {
    border-radius: 50%;
    height: 9em; 
    width: 9em;  
    padding: 5px ;
  }
 
  
  
  
  
     
 