.app-logo {
    height: 4em;
    width: 9em;
    margin-left: 15em;
} 

h6 {
    font-weight: 600;
    color:white;
}

p {
    font-weight: 500;
    color: black;
}

.navigation1 {
    
    height: 4.5em;  
}

.nav-tabs1 {
    display: flex;   
    flex: 1;   
}

.nav-item1 {
    list-style: none; 
    padding-right: 20px;     
      
}

.navigation2 {
    height: 3em;     
     
}

.nav-tabs2 {  
    background-color:black;   
    border-radius: 2em;
    display: flex;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 0em;
    
}

.nav-link {
    border-radius: 20px; 
    
  }
     


.nav-item2 {
    list-style: none; 
    width: 10em;
    text-align: center; 
    margin-bottom: 2px;   
    border-radius: 20px; 
    transition: background 0.35s;
}
.nav-item2:active {
    background-color: rgb(165, 102, 221);
}

.nav-tabs { 
    padding-left: 0em;
     
}

.nav-tabs3 {       
    
    border-radius: 0.5em; 
    padding-left: 5px;
    padding-right: 5px;  
    
}

.nav-tabs4 {    
    
    padding-left: 5px;
    padding-right: 5px;  
    border-radius: 0.5em;
    
       
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 12em;
    height: 100%;
    background-color: rgb(25, 5, 43);
    padding: 20px; 
    padding-top: 10px;
    margin-right: 5px; 
}

.floating-btn {
    width: 80px;
    height: 80px;
    background-color:rgb(193, 71, 91);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: white;
    color: white;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0,0, 0, 0.25);
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: background 0.25s;
}

.floating-btn:active {
    background-color: rgb(25, 5, 43);
}